button {
	width: 150px;
	height: 70px;
	border: 5px solid;
	background-color: $color-white;
	color: $color-black;
	border-radius: 10px;
	font-family: $main-font;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	box-shadow: 0 8px 0;
	transition: box-shadow 0.1s ease-in-out, transform 0.1s ease-in-out;

	&:active {
		box-shadow: 0 2px 0;
		transform: translate(0, 6px);
	}

	&:disabled {
		color: $color-grey;
		cursor: not-allowed;
	}
}
