.card {
	display: flex;
	flex-direction: row;
	height: 150px;
	width: 90px;
	background-color: $color-white;
	border: 2px solid;
	box-shadow: 1px 4px 0px 1px;
	border-radius: 10px;

	&.black {
		color: $color-black;
	}

	&.red {
		color: $color-red;
	}

	&.disabled {
		color: $color-grey !important;
	}

	& span {
		font-size: 40px;
	}

	& span:first-child {
		margin-left: 10px;
	}
}

.playable-card {
	padding-top: 30px;
	padding-bottom: 10px;
	cursor: pointer;
	margin-left: -40px;
	transition: padding 0.05s;

	&.disabled {
		padding-top: 40px !important;
		padding-bottom: 0px !important;
	}

	&:hover {
		padding-top: 20px;
		padding-bottom: 20px;
	}

	&.select {
		padding-top: 0px;
		padding-bottom: 40px;
	}
}
