@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap");

$main-font: "Roboto Mono", monospace;

@import "game.scss";
@import "gameSettings.scss";
@import "usernameForm.scss";

html,
body {
	margin: 0;
	font-family: $main-font;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	& h1 {
		margin: 10px;
	}

	& span {
		margin-right: 10px;
	}
}

.container {
	width: 100%;
}
